// Colors
$black: #303841;
$white: #ffffff;
$gray: #777777;

// New Colors
$blue-jaunts: #467dcd;
$light-purple-fax: #f1f1ff;
$hip-black: #303842;
$geeking-orange: #f9674e;

$red-mans: #e23d3d;
$yee-purple: #52489c;
$ardy-green: #1b998b;
$wilding-yellow: #eec643;
$ocean-blue: #81d3ca;

$shadow-black: #22282f;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using
$base-url: "/public" !default;

// Font Variables
$line-height-ratio: 1.5;
$font-family: FireSans, OpenSans, sans-serif;

$font-family-code: Inconsolata;
$font-size-ratio: 1.22; // Ratio of desktop to mobile font size
