.global-header {
  height: 102px;
  transition: height 0.4s, transform 0.4s;
}

.global-header::before,
.global-header::after {
  @apply hidden md:block;
}

.global-header.elevated::before {
  opacity: 1;
  z-index: 1;
  height: 102px;
}
.global-header.elevated::after {
  opacity: 1;
  z-index: 1;
  transition: opacity 3s;
}

.global-header::before {
  content: "";
  width: 1px;
  height: 0px;
  background-color: hsl(var(--a));
  transition: transform 0.4s, opacity 0.4s, height 0.6s;
  position: absolute;
  right: 35px;
  top: 61px;
  opacity: 0;
  z-index: -1;
}

.global-header::after {
  content: "Just a Dev";
  transform: rotate(90deg);
  transition: transform 0.4s, opacity 0.4s;
  position: absolute;
  right: -3px;
  top: 200px;
  opacity: 0;
  z-index: -1;
}

.elevated {
  @apply shadow-lg fixed;
  top: 0;
  height: 60px;
}
