.font-bold {
    @include font-bold();
}

.font-light {
    @include font-light();
}

.font-italic {
    @include font-italic();
}

.text-underline {
    @include text-underline();
}

.full-width {
    width: 100%;
}

// Color Classes
.color-geeking {
    color: $geeking-orange;
}

.color-white {
    color: $white;
}

.color-ocean-blue {
    color: $ocean-blue;
}

.color-purple-fax {
    color: $light-purple-fax;
}
